img {
    width: 100%;
}

.contaniner {
    display: flex;
    flex-wrap: wrap;
    
}

.item {
    max-width: 230px;
    margin: 0 5px;
}

.header {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cart {
    position: relative;
    background: url(../img/cart.png);
    width: 90px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart_elements {
    position: absolute
}

.header_logo {
    width: 30%;
}

.header_base {
    width: 50%;
}

.header_cart {
    width: 20%;
}

.cart_elem_img {
    width: 45px;
}

.cart_remove_img {
    width: 20px;
}

.cart_elements li {
    display: flex;
}

.cart_name_product {
    margin: 0 7px;
}

.card_item {
    display: flex;
}